<div class="row row-white row-footer">
	<div class="span5 pull-right txt-right">
		<ul>
			<li>
				<a id="" href="addPost.jag" target="_blank">Add Post</a>
			</li>
			<li>
				<a id="" href="help.jag" target="_blank">Help</a>
			</li>
		</ul>

	</div>
</div>
